# Server Port
PORT=5000

# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/visitor_pass_db?retryWrites=true&w=majority

# JWT Secret Key for token signing
JWT_SECRET=supersecretjwtkey_for_visitor_pass_management_2026

# Production Frontend Vercel URL (Used for CORS validation)
CLIENT_URL=https://visitor-pass-system.vercel.app

# Environment Mode ('development' | 'production')
NODE_ENV=production
